In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/epireve/data.local/Exercise'

In [5]:
movies = pd.read_csv("Movie-Ratings.csv")

In [6]:
len(movies)

559

In [7]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [8]:
movies.describe()

,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
count,559.000000,559.000000,559.000000,559.000000
mean,47.309481,58.744186,50.236136,2009.152057
std,26.413091,16.826887,48.731817,1.362632
min,0.000000,0.000000,0.000000,2007.000000
25%,25.000000,47.000000,20.000000,2008.000000
50%,46.000000,58.000000,35.000000,2009.000000
75%,70.000000,72.000000,65.000000,2010.000000
max,97.000000,96.000000,300.000000,2011.000000

In [9]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [14]:
movies.columns = ['Film', 'Genre', 'RTRating', 'AudienceRating',
       'Budget', 'ReleaseYear']

In [15]:
movies.columns

Index(['Film', 'Genre', 'RTRating', 'AudienceRating', 'Budget', 'ReleaseYear'], dtype='object')

In [16]:
movies.head()

,Film,Genre,RTRating,AudienceRating,Budget,ReleaseYear
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [17]:
movies.describe()

         RTRating  AudienceRating      Budget  ReleaseYear
count  559.000000      559.000000  559.000000   559.000000
mean    47.309481       58.744186   50.236136  2009.152057
std     26.413091       16.826887   48.731817     1.362632
min      0.000000        0.000000    0.000000  2007.000000
25%     25.000000       47.000000   20.000000  2008.000000
50%     46.000000       58.000000   35.000000  2009.000000
75%     70.000000       72.000000   65.000000  2010.000000
max     97.000000       96.000000  300.000000  2011.000000